*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", "sans-serif";
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    transform-style: preserve-3d;
    min-height: 80vh;
    width: 30rem;
    border-radius: 30px;
    padding: 0rem 5rem;
    box-shadow: 0  20px 20px  rgba(0, 0, 0, 0.2), 0  50px 50px  rgba(0, 0, 0, 0.2);
}

.sneaker{
     min-height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sneaker img{
    width: 20rem;
    z-index: 2;
    
}

.info{
    margin: auto;
    text-align: center;
    z-index: 1;
}

.circle{
  width: 15rem;
  height: 15rem;
  background: linear-gradient(to right,#FF5E55,#006AC7);
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}

.sizes{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.sizes button{
    width: 60px;
    border: none;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0  5px 10px  rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: bold;
    padding: 0.5rem;
    outline: none;;
}

.active{
    background-color: black !important;;
    color: white;
}

.purchase button{
    width: 200px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    margin-top: 40px;
}